//font-family: 'Oswald', sans-serif;
//font-family: 'Lato', sans-serif;

html {
  background-image: url(/assets/bg.jpg);
  background-size: cover;
  

  body {

    #subInput {
      @media screen and (min-width: 780px){
        background-color: red;
      }
      color: white;
      top: 0;
      left: 0;
      width: 100%;
      position: fixed;
      display: flex;
      flex-flow: row wrap;
      background-color: blue;
      justify-content: center;
      padding: 1rem;
    }

    #gallery {
      display: flex;
      flex-flow: row wrap;
      margin-top: 3.8rem;
      span {
        background-color: white;
        margin: 0.5rem;
        width: 100%;
        align-items: center;
        padding: 1rem;
        img {
          width: 100%
        }
      }
    }
  }
}