html {
  @media screen and (min-width: 780px){
    background-image: none;
    background-color: blue;
    }
  background-image: url(/assets/bg.jpg);
  background-repeat: repeat;
  body {
    
  }
  div {
    display: flex;
    flex-flow: row wrap;
    span {
      background-color: white;
      margin: 0.5rem;
      width: 100%;
      align-items: center;
      padding: 1rem;
      img {
        width: 100%
      }
    }
  }
}