html {
  background-image: url(/assets/bg.jpg);
  background-repeat: repeat;
  background-color: blue; }
  @media screen and (min-width: 780px) {
    html {
      background-color: red; } }
  html div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    html div span {
      background-color: white;
      margin: 0.5rem;
      width: 100%;
      align-items: center;
      padding: 1rem; }
      html div span img {
        width: 100%; }
